body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  background-image: url('your-background-image.png'); /* 배경 이미지 경로 */
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px; /* 타이틀과 보드 사이 간격 추가 */
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#difficulty-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.game-board {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.card.flipped, .card.matched {
  background-color: #fff;
  pointer-events: none;
}

.card.matched {
  background-color: #8f8;
}

.hidden {
  visibility: hidden;
}

.countdown {
  position: absolute;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
